
*{
  background-color: 	#FFF0F5;
}

body{
  background-color: 	#FFF0F5;
}

.main{
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 1000px){
.container{
  grid-gap: 30px;
  display: grid;
  grid-template-columns: 4fr 5fr;
  /* height: 610px; */
  width: inherit;
  margin: auto;
  }
}
.row{
  justify-content: center;
  overflow: hidden;
  border-radius: 50px;
  /* flex: 1; */
}
@media screen and (min-width: 600px) and (max-width: 999px){
  .row2{
    margin-top: 20px;
  }
}
@media screen and (min-width: 600px){
.row2{
  /* flex: 2; */
  width: auto;
  overflow: hidden;
  grid-gap: 10px;
  display: grid;
  /* height: 610px; */
  grid-template: 1fr 1fr / 1fr 1fr;
  }
}
@media screen and (max-width: 599px){
  .col{
    margin-top:20px;
  }
}

.col{
  display: grid;
  overflow: hidden;
  border-radius: 50px;
  justify-content: center;
  width: auto;
}

.col.a{
 grid-column-start: 1;
 grid-column-end: span 2;
 grid-row-start: 1;
 grid-row-end: 2;
 justify-content: center;
 background-color: white;
}

.row img{
  margin:auto;
  height: 610px;s
}

.col.b{
  overflow: hidden;
}

.col.a img{
  background-color: white;
  margin: auto;
  /* height: 150px; */
}

.col.b img{
  height: 300px;
}

.col.c img{
  background-color: white;
  height: 300px;
}

#navbarNav{
  background-color: white;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light{
  background-color: white !important;
}

li.nav-item{
  background-color: white;
}

.row .face{
  /* top: 650px;*/
  /* left: 200px; */
  border-radius: 20px;
  margin-top:250px;
  /* margin-left: 200px; */
  height: 100px;
  position:absolute;
}

.table{
  /* width: auto; */
  height: 200px;
  margin:auto;
  background-color: #98FB98;
}

thead th:nth-child(2n+1){
  background-color: #FFE4E1;
}


thead th:nth-child(2n){
  background-color: #FFC0CB;
}


.table_h{
  font-size: 18px;
}


.table_b td{
  font-size: 17px;
  vertical-align: middle;
}

.table_b th{
  vertical-align: middle;
}

.footer{
}

.footer{
  text-align: center;
}

.footer div{
  background-color: none;
}

.footer .btn{
  margin-top: -50px;
  float: right;
  border-radius: 100px;
}

.footer__1{
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
}

.footer__2{
  margin-top: -20px;
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
}

.navbar .navbar-brand, .navbar .nav-link{
  font-family: 'Lucida Sans Unicode';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}
